:root {
  --black: #000000ff;
  --eerie-black: #212529ff;
  --onyx: #343a40ff;
  --outer-space: #464c51ff;
  --davys-gray: #575c61ff;
  --dim-gray: #666b6fff;
  --gray: #74787cff;
  --gray-2: #818488ff;
  --battleship-gray: #8c8f93ff;
  --white: #ffffffff;

  --tyrian-purple: #5f0f40ff;
  --carmine: #9a031eff;
  --ut-orange: #fb8b24ff;
  --spanish-orange: #e36414ff;
  --midnight-green: #0f4c5cff;
}

* {
  font-family: Consolas, monaco, monospace;
}

html {
  background-color: var(--eerie-black);
}

body {
  background-color: var(--eerie-black);
  color: var(--battleship-gray);
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-container {
  height: 100%;
  display: flex;
  background-color: var(--eerie-black);
  padding: 20px 15px;
}

.history-container {
  width: 25rem;
  border: 1px solid var(--dim-gray);
  border-radius: .25rem;
  overflow-y: auto;
}

.history-header {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--dim-gray);
  background-color: var(--gray-dark);
  color: var(--white);
}

a.history-list-item {
  padding: 0.25rem 0.75rem;
  background-color: var(--eerie-black);
  color: var(--battleship-gray);
  border: none;
  border-bottom: 2px solid var(--dim-gray) !important;
}

a.history-list-item.active {
  background-color: var(--onyx) !important;
}

a.history-list-item:last-child {
  border-bottom: 1px solid var(--dim-gray) !important;
}

.history-container > .list-group > a.history-list-item:hover {
  background-color: var(--onyx);
  color: var(--white);
}

.treatment-description-actions {
  align-items: center;
}

.treatment-description {
  display: inline-block;
  width: 70%;
}

.text-muted {
  word-wrap: break-word;
}

a.history-list-item:hover button.btn.btn-edit,
a.history-list-item:hover button.btn.btn-delete,
a.history-list-item:hover button.btn.btn-cancel {
  background: var(--gray);
}

button.btn.btn-edit,
button.btn.btn-delete,
button.btn.btn-cancel {
  width: 38px;
  font-size: 14px;
}

button.btn.btn-edit {
  margin-right: 2px;
}

button.btn.btn-delete {
  margin-left: 2px;
}

button.btn.btn-edit:hover,
button.btn.btn-delete:hover,
button.btn.btn-cancel:hover {
  background-color: var(--battleship-gray) !important;
}

.fa-solid.fa-pen::before,
.fa-solid.fa-trash::before,
.fa-solid.fa-ban::before {
  display: block;
  width: 14px;
  height: 14px;
}

.content-container {
  display: none;
  flex-direction: column;
  width: 100%;
  margin-left: 15px;
}

.content-container.active {
    display: flex !important;
}

.table-container {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  border: 1px solid var(--dim-gray);
  border-radius: 0.25rem;
  margin-bottom: 15px;

  /* Scrollbar Styling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--dim-gray) var(--onyx); /* For Firefox */
}

/* Webkit browsers (Chrome, Safari, etc.) */
.table-container::-webkit-scrollbar {
  width: 12px;
}

.table-container::-webkit-scrollbar-track {
  background: var(--onyx); /* Background of the scrollbar track */
  border-radius: 0.25rem;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: var(--dim-gray); /* Color of the scrollbar thumb */
  border-radius: 0.25rem;
  border: 3px solid var(--onyx); /* Creates padding around the thumb */
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray); /* Darken thumb on hover */
}

.table-responsive {
  overflow-x: hidden;
}

.table {
  table-layout: fixed;
}

.table thead {
  background-color: var(--onyx);
}

.table-body {
  font-size: 15px;
  font-weight: 400;
}

.table-hover > tbody > tr:hover {
    background-color: var(--eerie-black);
}

tr {
    background-color: var(--black);
}

td,
th {
  color: var(--battleship-gray);
  border-color: var(--dim-gray) !important;
  padding: 0.25rem 0.75rem !important;
}

td {
  color: var(--white);
  white-space: pre-wrap;
  word-wrap: break-word;
}

th {
  color: var(--battleship-gray) !important;
}

.filter-container {
  background-color: var(--onyx) !important;
  border: 1px solid var(--dim-gray) !important;
}

.treatment-type-container.disabled {
  cursor: not-allowed !important;
}

.treatment-type-container.disabled .treatment-type {
  pointer-events: none;
}

.operation-label-container,
.expression-label-container {
  display: flex;
  align-items: center;
}

.operation-label,
.expression-label {
  color: var(--white);
  font-weight: 500;
}

.form-control {
  background-color: var(--eerie-black) !important;
  border: 1px solid var(--dim-gray) !important;
}

.form-control:focus {
  border-color: var(--gray-2) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.form-control:disabled {
  cursor: not-allowed;
  background-color: var(--onyx) !important; 
}

.unround:focus {
  z-index: 1;
}

.unround-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.unround-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.action-button-container {
  padding-left: 0;
}

.action-button {
  width: 100%;
}

/* .btn-primary {
  background-color: var(--gray) !important;
  border-color: var(--gray) !important;
}

.btn-secondary {
  background-color: var(--gray-2) !important;
  border-color: var(--gray-2) !important;
} */

.upload-area {
  width: 100%;
  height: 100%;
  border: 2px dashed var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-area:hover {
  border-color: var(--white);
}

.upload-area:hover .upload-placeholder i,
.upload-area:hover .upload-placeholder p {
  color: var(--white);
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-placeholder i {
  color: var(--gray);
  font-size: 80px;
}

.upload-placeholder p {
  color: var(--gray);
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

.treatment-type {
  width: 10rem;
}